GOOGLE_SHEET_ID=
GOOGLE_APPLICATION_CREDENTIALS=
DRY_RUN=true
HEADLESS=false
LINKEDIN_SEARCH_LOCATION=San Francisco Bay Area
LINKEDIN_ALLOWED_LOCATIONS=remote,san francisco,san francisco bay area,bay area,oakland,berkeley,emeryville,south san francisco,daly city,san mateo,redwood city,menlo park,palo alto,mountain view,sunnyvale,cupertino,santa clara,san jose,fremont,san ramon,pleasanton

LINKEDIN_PAGE_DELAY_MIN_MS=3000
LINKEDIN_PAGE_DELAY_MAX_MS=6000
LINKEDIN_SEARCH_SCROLLS_MIN=2
LINKEDIN_SEARCH_SCROLLS_MAX=4
